
<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<title>Projeto Jogar Dados</title>
	<style type="text/css">

	</style>

	<script type="text/javascript">
// Função que lê a cor escolhida pelo usuário em <input type="color"> e altera a formatação CSS
// do <body id="pagina"> com a cor escolhida.
function mudar_cor_de_fundo(){
// lê o valor de cor escolhido pelo usuário.
var cor = document.getElementById("seletor_de_cores").value;
// muda a formatação CSS do <body> background para a cor escolhida
document.getElementById("pagina").style.backgroundColor = cor;
// opcional: escreve na página a cor escolhida
document.getElementById("cor_escolhida").innerHTML = "A Cor escolhida é "+cor;
}
</script>

</head>
<body id="pagina">

<main>

		<div class="container col-12 col-sm col-md-6 bg-light p-2 text-center">

		<h1>Projeto Jogar Dados</h1>
	

		
		<form method="post" action="iniciar">

			</br></br>
		
		<b>Que cor você deseja? </b></br></br>


<p>Escolha uma cor para o fundo da página</p>
<input id="seletor_de_cores" type="color"/><br><br>
<button type="button" onclick="mudar_cor_de_fundo()"  class="btn btn-success">Mudar a cor</button>

<p id="cor_escolhida"></p>


		
		<button type="submit" id="buttonComecar" class="btn btn-dark" > Começar</button>
        </div>    
</form>
</main>
</body>
		<script src='js/jquery-3.4.1.min.js'></script>
		<script type="text/javascript">

		$(document).ready(function(){

		$('#buttonComecar').click(function(){
         location.href = 'iniciar';
	    });
	});
		</script>




</html>