
<!DOCTYPE html>
	<meta charset="utf-8">
		<html>
		  <head>
			<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
			 <title>Projeto Jogar Dados</title>
			


		  </head>
<body>

	<main>

		<div class="container col-12 col-sm col-md-6 bg-light p-2 text-center">

			<h1>Projeto Jogar Dados</h1>
			
				<form method="post" action="iniciar">
					<h2>Digite seus dados!</h2>

				<div class="form-group">
					<input type="text" name="nome" placeholder="Nome" class="form-control">
				</div>

				<div class="form-group">
					<input type="text"  name="sobrenome" placeholder="Sobrenome" class="form-control"> 
                </div>
                 <h3>Escolha um cor de Fundo!</h3>

                 <div class="form-group">
                 <input type="color" name="cor" value="#ff0000">
                 </div>

             
				  <button type="submit" id="buttonComecar" class="btn btn-success"> Começar</button>

		        </div>  


	            </form>
	</main>

</body>

	<script src='js/jquery-3.4.1.min.js'></script>
		<script type="text/javascript">
		 $(document).ready(function(){
            $('#buttonComecar').click(function(){
		       location.href = 'iniciar';
			    });
			});
	</script>

</html>